/* ----Обнуление--------------------------------------------- */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Меняется подсчёт ширины блока для более удобной верстки */
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Убираются линии обводки в некоторых браузерах */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/* Перечисляются html5 тэги и добавляются значение, которое делает их блочными */
nav,footer,header,aside{display: block;}

/* Уравнивается поведение шрифтов и элементов для разных браузеров, запрещают увеличение шрифта самовольно на IPhone */
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    color: #fff;
    font-family: Roboto;
}

/* Просим наследовать теги form семейство шрифта */
input,button,textarea{font-family: inherit;}

/* Убираются некоторые особенности в разных браузерах */
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}

/* Обнуляются все заголовки h */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/* ----Services---------------------------------------------- */

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

._container{
    max-width: 1140px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg{
    position: relative;

}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ----General----------------------------------------------- */

.page{
    flex: 1 1 auto;
    font-family: Montserrat;
    color: #212529;
}

.title{
    font-weight: 600;
    font-size: 40px;
    font-family: Montserrat;
    color: #212529;
}

/* ----Header------------------------------------------------ */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 18px 21px;
}

.header__logo {
    font-size: 30px;
    font-weight: 400;
}

.header__menu-list {
    margin: 0px 0px 0px auto;
}

.menu {
}

.menu__list {
    display: flex;
}

.menu__item {
    
}

.menu__item:not(:last-child) {
    margin: 0px 92px 0px 0px;
}

.menu__link {
    font-size: 21px;
    color: inherit;
    font-weight: 400;
    opacity: 50%;
}

.menu__link_active{
    opacity: 1;
}

.menu__link:hover{
    opacity: 1;
    text-shadow: 0 0 4px #FFFFFF;
}

/* ----Main-About---------------------------------------------- */

.main-about{
    position: relative;
    height: auto;
}

.main-about__container{
    padding: 0px 21px;
}

.main-about__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-about__content{
    padding: 200px 0px 122px 0px;
    height: auto;
    position: relative;
    z-index: 2;
    display:flex;
}

.main-about__part{
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    color:#fff;
}

.main-about__title{
    font-size: 40px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
}

.main-about__text{
    opacity: 50%;
    font-size: 24px;
    font-weight: 300;
}

/* ----Main-Body------------------------------------------------ */

.main-body{
    background: linear-gradient(180deg, #0C0C0C 0%, rgba(12, 12, 12, 0.631875) 16.15%, rgba(12, 12, 12, 0.24) 33.33%, rgba(12, 12, 12, 0.235) 50%, rgba(12, 12, 12, 0.23) 66.67%, rgba(12, 12, 12, 0.590937) 82.29%, #0C0C0C 100%);
    width: 100%;
    height: auto;
}

/* ----Main-Skills---------------------------------------------- */

.main-skills__container{
    padding: 0px 21px;
}

.main-skills__content{
    padding: 78px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.main-skills__title{
}

.underline{
    width: 50px;
    height: 3px;
    background-color: red;
    margin: 0px 0px 65px 0px;
}

.main-skills__skills-list{
    width: auto;
    height: auto;
}

.skills-list__row{
    display: flex;
}

.skills-list__row:not(:last-child){
    margin: 0px 0px 20px 0px;
}

.skills-item{
    flex: 0 1 auto;
    width: 230px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-item:not(:last-child){
    margin: 0px 40px 0px 0px;
}

.skill__logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0px 0px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill__logo img{
    width: 40px;
    height: 40px;
}

.skill__name{
    margin: 0px 0px 20px;
    font-weight: 500;
    font-size: 18px;
}

.skill__text{
    font-family: Lora;
    font-weight: 500;
    color: #AFB2C0;
    text-align: center;
    padding: 0px 10px;
}

.title_white{
    color: #fff;
}

/* ----Skills-Color--------------------------------------------- */

.skill_1{
    background: linear-gradient(132.84deg, #00F0FF 21.19%, rgba(0, 240, 255, 0) 106.67%);
}

.skill_2{
    background: linear-gradient(132.84deg, #FF0000 21.19%, rgba(255, 0, 0, 0) 106.67%);
}

.skill_3{
    background: linear-gradient(132.84deg, #7000FF 21.19%, rgba(112, 0, 255, 0) 106.67%);
}

/* ----Main-Works----------------------------------------------- */

.main-works__container{
    padding: 0px 21px;
}

.main-works__content{
    padding: 156px 0px 78px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-item:not(:last-child){
    margin: 0px 0px 78px 0px;
}

.item-background{
    width: 770px;
    height: 385px;
    border-radius: 30px;
    background-color: white;
    display: flex;
}

.item-part{
    flex: 0 1 50%;
}

.item-right__work{
    border-radius: 0px 30px 30px 0px;
    width: 100%;
    height: 100%;
}

.item-left__work{
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 100%;
}

.item__about{
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 0px 0px;
}

.item__work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item__work__body{
    width: 200px;
    height: 200px;
}

.item-title{
    margin: 0px 0px 148px 0px;
}

.item-button{
    width: 180px;
    height: 51px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-button__text{
    color: #fff;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 700;
}

/* ----Items-Color---------------------------------------- */

.item__color_1{
    background: linear-gradient(96.92deg, #FF0000 27.46%, rgba(217, 217, 217, 0) 156.15%);
}

.item__color_2{
    background: linear-gradient(132.84deg, #00F0FF 21.19%, rgba(0, 240, 255, 0) 106.67%);
}

/* ----Footer--------------------------------------------- */

.footer-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer{
    position: relative;
    color: inherit;
}

.footer__content{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
}

.footer__title{
    font-weight: 500;
    font-size: 40px;
    margin: 0px 0px 25px 0px;
}

.contacts__list{
    display: flex;
}

.contacts__list__item{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__list__item:not(:last-child){
    margin: 0px 20px 0px 0px;
}

























































/* ----1-Work--------------------------------------------- */

/* ----2-Work--------------------------------------------- */

.item__work_2 img{
    height: 100%;
    width: 100%;
}
