/* ----Обнуление--------------------------------------------- */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
}

/* Меняется подсчёт ширины блока для более удобной верстки */
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Убираются линии обводки в некоторых браузерах */
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

/* Перечисляются html5 тэги и добавляются значение, которое делает их блочными */
nav,footer,header,aside{display: block;}

/* Уравнивается поведение шрифтов и элементов для разных браузеров, запрещают увеличение шрифта самовольно на IPhone */
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    color: #fff;
    font-family: Roboto;
}

/* Просим наследовать теги form семейство шрифта */
input,button,textarea{font-family: inherit;}

/* Убираются некоторые особенности в разных браузерах */
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}

/* Обнуляются все заголовки h */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/* ----Services---------------------------------------------- */

.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

._container{
    max-width: 1140px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg{
    position: relative;

}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ----Logo-------------------------------------------------- */

.logo{
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    width: 100px;
    height: 100px;
}

.logo__border{
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 33px;
}

.logo__top_part{
    border-width: 2px 2px 0px 2px;
}

.logo__bottom_part{
    border-width: 0px 2px 2px 2px;
}

.logo__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.034em;
}

.logo__text::after{
    content: 'development';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.047em;
}

/* ----General----------------------------------------------- */

.page{
    flex: 1 1 auto;
    font-family: Montserrat;
    color: #212529;
}

.title{
    font-weight: 600;
    font-size: 55px;
    font-family: Playfair Display;
    color: #212529;
    margin: 0px 0px 18px;
}

.underline{
    width: 44px;
    height: 2px;
    background-color: red;
    margin: 0px 0px 65px 0px;
}

/* ----Header------------------------------------------------ */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 30px 0px 0px;
}

.header__logo {
    position: relative;
}

.header__menu-list {
    margin: 0px 0px 0px auto;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin: 0px 60px 0px 0px;
}

.menu__link {
    font-size: 14px;
    color: inherit;
    font-weight: 400;
    text-transform: uppercase;
}

/* ----Main-About---------------------------------------------- */

.main-about{
    position: relative;
    height: auto;
}

.main-about__container{
    padding: 0px 21px;
}

.main-about__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-about__content{
    padding: 330px 0px 252px 0px;
    height: auto;
    position: relative;
    z-index: 2;
    display:flex;
    justify-content: center;
}

.main-about__part{
    display: flex;
    flex-direction: column;
    color:#fff;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 0px 60px;
    align-items: center;
}

.main-about__title{
    font-size: 105px;
    width: 100%;
    position: relative;
    margin: 0px 0px 30px 0px;
    color: #fff;
    font-family: Playfair Display;
}

.main-about__text{
    opacity: 50%;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
}

.main-about__button{
    background: #fff;
    width: 200px;
    height: 38px;
    border-radius: 30%;
}

/* ----Main-Body------------------------------------------------ */

.main-body{
    background: white;
    width: 100%;
    height: auto;
}

/* ----Main-Skills---------------------------------------------- */

.main-skills__container{
    padding: 0px 21px;
}

.main-skills__content{
    padding: 78px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-skills__skills-list{
    width: auto;
    height: auto;
}

.skills-list__row{
    display: flex;
    padding: 0px 9px;
}

.skills-list__row:not(:last-child){
    margin: 0px 0px 20px 0px;
}

.skills-item{
    flex: 0 1 auto;
    width: 230px;
    min-height: 200px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    border-radius: 20%;
}

.skills-item:not(:last-child){
    margin: 0px 40px 0px 0px;
}

.skills-item:hover{
    -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.skill__logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0px 0px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.skill__logo img{
    width: 45px;
    height: 45px;
}

.skill__name{
    margin: 0px 0px 20px;
    font-weight: 500;
    font-size: 18px;
}

.skill__text{
    font-family: Montserrat;
    font-weight: 500;
    color: #AFB2C0;
    text-align: center;
    padding: 0px 10px;
}

/* ----Skills-Color--------------------------------------------- */

.skill_1{
    background: linear-gradient(138.11deg, #00FFFF 20.9%, rgba(0, 255, 194, 0.8) 86.81%);
}

.skill_2{
    background: linear-gradient(138.18deg, #FF0000 20.89%, rgba(255, 122, 0, 0.8) 85.38%);
}

.skill_3{
    background: linear-gradient(132.84deg, #7000FF 21.19%, rgba(0, 71, 255, 0.81) 106.67%);
}

/* ----Main-Works----------------------------------------------- */

.main-works__content{
    padding: 78px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.works-item:not(:last-child){
    margin: 0px 0px 78px 0px;
}

.main-works__works-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 35px;
}

.works-item{
    width: 100%;
}

.item-background{
    width: 100%;
    min-height: 450px;
    height: auto;
    border-radius: 30px;
    background-color: white;
    display: flex;
    -webkit-box-shadow: -5px -4px 27px -5px rgba(202, 202, 202, 0.6);
    -moz-box-shadow: -5px -4px 27px -5px rgba(202, 202, 202, 0.6);
    box-shadow: -5px -4px 27px -5px rgba(202, 202, 202, 0.6);
}

.item-part{
    flex: 0 1 50%;
}

.item-right__work{
    border-radius: 0px 30px 30px 0px;
    width: 100%;
    height: 100%;
}

.item-left__work{
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 100%;
}

.item__about{
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 20px 80px 80px;
}

.item__work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item__work__body{
    width: 200px;
    height: 200px;
}

.item-button{
    width: 210px;
    height: 51px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-button__text{
    color: #fff;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 700;
}

.work__title{
    margin: 0px 0px 50px;
}

.item__work_skills{
    text-align: left;
    padding: 0;
    flex: 0 1 100%;
}

/* ----Items-Color---------------------------------------- */

.item__color_1{
    background: linear-gradient(126.35deg, #0047FF 27.57%, rgba(16, 196, 253, 0.65) 96.99%);
}

.item__color_2{
    background: linear-gradient(123.81deg, #2FD5B6 33.92%, rgba(37, 166, 26, 0.53) 97.82%);
}

.item__color_3{
    background: linear-gradient(126.35deg, #FF3D00 27.57%, rgba(255, 61, 0, 0.65) 96.99%);
}

/* ----Footer--------------------------------------------- */

.footer-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer{
    position: relative;
    color: inherit;
}

.footer__content{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 35px;
    font-family: Fairplay Display;
}

.footer__title{
    font-weight: 500;
    font-size: 40px;
    margin: 0px 0px 25px 0px;
}

.contacts__list{
    display: flex;
}

.contacts__list__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__list__item:not(:last-child){
    margin: 0px 5px 0px 0px;
}

.icon_github,
.icon_vkontakte{
    width: 60px;
    height: 60px;
}

.icon_telegram{
    width: 70px;
    height: 70px;
}

/* ----ADAPTABILITY---------------------------------------------------------------------------------- */

/* ----Logo-Adaptability------------------------------- */

@media (max-width: 720px) {
    .logo{
        width: 80px;
        height: 80px;
    }
    
    .logo__border{
        width: 80px;
        height: 23px;
    }
    
    .logo__text{
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.036em;
    }
    
    .logo__text::after{
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.08em;
    }
}

/* ----General-Adaptability---------------------------------- */

@media (max-width: 870px) {
    .title{
        font-size: 50px;
        margin: 0px 0px 16px;
    }
    .underline{
        width: 42px;
    }
}

@media (max-width: 740px) {
    .title{
        font-size: 45px;
        margin: 0px 0px 15px;
    }
    .underline{
        width: 40px;
    }
}

@media (max-width: 560px) {
    .title{
        font-size: 40px;
        margin: 0px 0px 14px;
    }
    .underline{
        width: 38px;
    }
}

@media (max-width: 460px) {
    .underline{
        width: 36px;
    }
}

@media (max-width: 414px) {
    .underline{
        width: 34px;
    }
}

@media (max-width: 392px) {
    .title{
        margin: 0px 0px 12px;
    }
    .underline{
        width: 30px;
    }
}

/* ----Header-Adaptability------------------------------------ */

@media (max-width: 1200px) {
    .header__container{
        padding: 30px 30px 0px;
    }
}

@media (max-width: 660px) {
    .menu__item:not(:last-child) {
        margin: 0px 40px 0px 0px;
    }
    .menu__link{
        font-size: 12px;
    }
}

@media (max-width: 532px) {
    .menu__item:not(:last-child) {
        margin: 0px 30px 0px 0px;
    }
}

@media (max-width: 414px) {
    .menu__item:not(:last-child) {
        margin: 0px 27px 0px 0px;
    }
    .menu__link{
        font-size: 11px;
    }
}

@media (max-width: 392px) {
    .menu__item:not(:last-child) {
        margin: 0px 24px 0px 0px;
    }
    .menu__link{
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .menu__item:not(:last-child) {
        margin: 0px 15px 0px 0px;
    }
}

/* ----Main-About-Adaptability---------------------------------- */

@media (max-width: 1200px) {
    .main-about__title{
        font-size: 80px;
    }
    .main-about__text{
        font-size: 22.5px; 
    }
    .main-about__content{
        padding: 300px 0px 222px 0px;
    }
}

@media (max-width: 940px) {
    .main-about__title{
        font-size: 65px;
        margin: 0px 0px 20px 0px;
    }
    .main-about__text{
        font-size: 19px; 
    }
    .main-about__content{
        padding: 280px 0px 202px 0px;
    }
}

@media (max-width: 794px) {
    .main-about__title{
        font-size: 55px;
        margin: 0px 0px 16px 0px;
    }
    .main-about__text{
        font-size: 16px; 
    }
    .main-about__content{
        padding: 260px 0px 182px 0px;
    }
}

@media (max-width: 696px) {
    .main-about__title{
        font-size: 50px;
        margin: 0px 0px 16px 0px;
    }
    .main-about__content{
        padding: 250px 0px 172px 0px;
    }
    .main-about__part{
        padding: 0px 45px;
    }
}

@media (max-width: 628px) {
    .main-about__title{
        font-size: 42px;
        margin: 0px 0px 14px 0px;
    }
    .main-about__content{
        padding: 235px 0px 157px 0px;
    }
    .main-about__part{
        padding: 0px 40px;
    }
}

@media (max-width: 532px) {
    .main-about__title{
        font-size: 36px;
        margin: 0px 0px 12px 0px;
    }
    .main-about__text{
        font-size: 14px; 
    }
    .main-about__content{
        padding: 230px 0px 152px 0px;
    }
    .main-about__part{
        padding: 0 31px;
    }
}

@media (max-width: 454px) {
    .main-about__title{
        font-size: 33px;
    }
    .main-about__content{
        padding: 225px 0px 147px 0px;
    }
    .main-about__part{
        padding: 0 25px;
    }
}

@media (max-width: 412px) {
    .main-about__title{
        font-size: 31px;
    }
    .main-about__part{
        padding: 0 23px;
    }
}

@media (max-width: 392px) {
    .main-about__title{
        font-size: 30px;
        margin: 0px 0px 12px 0px;
    }
    .main-about__text{
        font-size: 13px; 
    }
    .main-about__content{
        padding: 220px 0px 142px 0px;
    }
    .main-about__part{
        padding: 0 18px;
    }
}

@media (max-width: 370px) {
    .main-about__title{
        font-size: 26px;
        margin: 0px 0px 10px 0px;
    }
    .main-about__text{
        font-size: 11px; 
    }
    .main-about__part{
        padding: 0 12px;
    }
}

/* ----Main-Skills-Adaptability--------------------------------- */

@media (max-width: 870px) {
    .skills-item{
        width: 210px;
    }
    .skills-item:not(:last-child){
        margin: 0px 30px 0px 0px;
    }
}

@media (max-width: 800px) {
    .skills-item{
        width: 205px;
        border-radius: 15%;
    }
    .skills-item:not(:last-child){
        margin: 0px 25px 0px 0px;
    }
}

@media (max-width: 730px) {
    .skills-item{
        width: 140px;
        border-radius: 10%;
    }
    .skills-item:not(:last-child){
        margin: 0px 60px 0px 0px;
    }
    .skill-item__text{
        visibility: hidden;
        height: 0;
    }
    .skill__name{
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .skills-item:not(:last-child){
        margin: 0px 50px 0px 0px;
    }
}

@media (max-width: 460px) {
    .skills-list__row{
       flex-direction: column;
       align-items: center;
    }
    .skills-item{
        width: 180px;
        border-radius: 10%;
        min-height: 190px;
    }
    .skill__name{
        margin: 0px 0px 20px;
        font-weight: 500;
        font-size: 18px;
    }
    .skill-item__text{
        visibility: visible;
        height: auto;
    }
    .skills-item:not(:last-child){
        margin: 0px;
    }
}

/* ----Main-Works-Adaptability--------------------------------- */

@media (max-width: 870px){
    .work__title{
        margin: 0px 0px 40px;
    }
}

@media (max-width: 810px) {
    .item-background{
        flex-direction: column;
        height: auto;
        border-radius: 20px;
    }
    .item-right__work{
        border-radius: 0px 0px 20px 20px;
    }
    .item-left__work{
        border-radius: 20px 20px 0px 0px;
    }
    .item__about{
        align-items: center;
        padding: 36px;
        height: auto;
    }
    .item__work{
        padding: 40px;
    }
    .item__work_skills{
        margin: 0px 0px 40px;
    }
    .works-item:not(:last-child){
        margin: 0px 0px 78px 0px;
    }
    .item-part{
        text-align: center;
    }
    .item__work_skills{
        text-align: center;
    }
    .main-works__works-list{
        padding: 0px 35px;
    }
    .item-button{
        width: 230px;
    }
}

@media (max-width: 370px){
    .item-button{
        width: 215px;
    }
}

/* ----Footer-Adaptability----------------------------------- */

@media (max-width: 570px) {
    .footer__title{
        font-size: 35px;
        text-align: center;
    }
    .footer__content{
        padding: 35px 100px;
    }
    .icon_github,
    .icon_vkontakte{
        width: 45px;
        height: 45px;
    }
    .icon_telegram{
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 500px) {
    .footer__content{
        padding: 35px 80px;
    }
}

@media (max-width: 460px) {
    .footer__content{
        padding: 35px 70px;
    }
}

@media (max-width: 440px) {
    .footer__content{
        padding: 35px 50px;
    }
}

@media (max-width: 440px) {
    .footer__title{
        font-size: 32px;
        text-align: center;
    }
    .footer__content{
        padding: 35px 50px;
    }
}

@media (max-width: 380px) {
    .footer__content{
        padding: 35px 30px;
    }
}

@media (max-width: 334px) {
    .footer__content{
        padding: 35px 20px;
    }
}























































/* ----1-Work--------------------------------------------- */

/* ----2-Work--------------------------------------------- */

.item__work_2 img{
    height: 100%;
    width: 100%;
}
