.main-work__content{
    padding: 140px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.work__body{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.work__body:not(:last-child){
    margin: 0px 0px 50px;
}